<!doctype html>
<html>
  <head>
    <title>Stringy</title>
    <link rel="Stylesheet" href="assets/reset.css" />
    <link rel="Stylesheet" href="assets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"></script>
    <script src="assets/app.js"></script>
  </head>
  <body>
    <div id="svgWrapper">
    </div>
    <ol class="allTheLists">
      <% @questions.each do |question| %>
      <li class="nodes" id="<%= question.stub %>">
        <header class="nodes__header">
          <h2><%= question.name %></h2>
          <% if question.subtitle %>
          <p class="subtitle"><%= question.subtitle %></p>
          <% end %>
        </header>
        <ol class="nodes__list">
          <% question.options.each do |option| %>
          <li id="<%= option.stub %>" class="node"><%= option.name %></li>
          <% end %>
        </ol>
      </li>
    <% end %>
    </ol>
  </body>
</html>